body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
}

.heart {
    width: 100px;
    height: 100px;
    position: relative;
    animation: beat 1s infinite alternate;
    transform-origin: center;
}

.heart::before,
.heart::after {
    content: '';
    width: 100px;
    height: 100px;
    background-color: #ff4d4d;
    position: absolute;
    border-radius: 50%;
    transform: rotate(45deg);
}

.heart::before {
    top: -50px;
}

.heart::after {
    left: -50px;
}

.container img {
    max-width: 100%; /* Ensure the image scales down proportionally */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto; /* Center the image horizontally */
    max-height: 200px; /* Set maximum height for the image */
}

@keyframes beat {
    to {
        transform: scale(1.1);
    }
}
